@import 'bootstrap';

//navbar
.navbar {
  background-color: #fd9879 !important;
}

.nav-link {
  color: white !important;
}

.navbar-toggler {
  background-color: white;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.dropdown-menu {
  background-color: #fd9879;
  color: gray;
}

.dropdown-item {
  color: white
}


//body
#home-container {
  background-image: asset-url('flower_banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

html,
body {
  height: 100%;
  color: gray;
}

#page-content {
  flex: 1 0 auto;
}

.btn-signup {
  background-color:white;
  color: #ff7b52;
  font-weight: bold;
  border-color: #fd9879;
}

.btn-signup:hover {
  background-color: #fd9879;
  color: #fff;
}

//footer
#sticky-footer {
  flex-shrink: none;
}

// index
.btn-outline-success:hover {
  background-color: #bdecb6;
  color: black;
}

.btn-outline-info:hover {
  background-color: lightblue;
}

.btn-outline-danger:hover {
  background-color: #fd9879;
}

.article-card-title {
  text-decoration: none;
  color: #fd9879;
}

//form
.btn-form-cancel:hover{
  font-weight: bold;
}

.btn-form-save {
  font-weight: bold;
  background-color: rgb(24, 202, 202);
  border-color: rgb(24, 202, 202);
  color: white;
}

.btn-form-save:hover{
  font-weight: bold;
  background-color:  #fd9879;;
  border-color:  #fd9879;;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

.alert-dismissible {
  padding-right: 1em;
}

.close-btn {
  border-color: gray;
}

.close-btn:hover {
  background-color: white;
}

.article {
  background-color: aliceblue;
}

.alert-ligth {
  background-color: rgb(243, 243, 243);
}
